.active-slide {
  background: #0d0d0d;
  padding: 24px;
}

@media (max-width: 768px) {
  .active-slide {
    padding: 32px;
  }
}

/* .active-slide-image-prev {
  animation: slide-prev 0.8s;
}

.active-slide-image-next {
  animation: slide-next 0.8s;
}

@keyframes slide-prev {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-next {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0);
  }
} */

.layer {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.slider-container
  .slick-slide[aria-hidden="false"]
  + .slick-slide[aria-hidden="true"]
  .active
  .layer {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.6) 0.05%,
    #ffffff 94.8%
  );
}

.slider-container
  .slick-slide[aria-hidden="true"]:has(+ .slick-slide[aria-hidden="false"])
  .active
  .layer {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.6) 0.05%,
    #ffffff 94.8%
  );
}

.right-slide {
  box-shadow: "rgba(0, 0, 0, 0.45) -25px 0px 20px -20px";
  margin-left: "-35px";
}

.left-slide {
  box-shadow: "rgba(0, 0, 0, 0.45) 25px 0px 20px -20px";
  margin-right: "-35px";
}

@media (max-width: 568px) {
  .right-slide {
    margin-left: "0px";
  }

  .left-slide {
    margin-right: "0px";
  }
}
